/* TODO: Make it awesome */

*{
    box-sizing: border-box;
}

body{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: antiquewhite;
    color: black;
    margin: 1rem;
}

h1{
    color: brown;
    font-size: 4rem;
    font-weight: 700;
    text-align: center;
    margin: 1rem;
}

nav{
    text-align: center;
    padding: 1px 2px;
    font-size: 17px;
}

ul{
    margin: 1rem;
}

li{
    margin: 1rem;
}

a{
    text-decoration: none;
    margin: 1rem;
    color: black;
}

img{
    width: 30%;
}

footer p{
    margin: auto;
    text-align: center;
    color: royalblue;
    margin: 1rem;
    padding-top: 2rem;
}
